database_host=postgres
database_port=5432
database_name=integratto2
database_user=postgres
database_password=postgres

memcached_host=memcache
memcached_port=11211

#Informações da Amazon
amazon_key=AKIAI5B3LC63XVKUFBTQ
amazon_secret=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
amazon_region=us-west-2
amazon_version=2006-03-01
amazon_s3_bucket_name=nasajon-dev
amazon_s3_bucket_path=crmweb/

secret=8cb32b430326e4e20df873ee37cdd610e6a03991

maladireta_url=https://maladireta.nasajonsistemas.com.br
diretorio_url=https://dir.nasajonsistemas.com.br
usuario_url=https://conta.nasajonsistemas.com.br
idp_url=https://login.nasajonsistemas.com.br

keycloak_realm=QA
keycloak_url=https://auth.nasajon.com.br/auth
keycloak_client_id=crm_api

diretorio_sistema_id=294
api_key=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzaXN0ZW1hIjoyOTQsInRpcG8iOiJzaXN0ZW1hIn0.3_r5c439umFvcqgP1zeFFFsQIUsWHhyWDE_KGIdR0t8
entity_id=http://localhost

sp_metadata=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/idp-FederationMetadata.xml
sp_certificate_crt=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.crt
sp_certificate_pem=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.pem
